@use '../../_variables' as *;
@use '../../_typography' as *;

.degrees-numbers {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border: 1px solid white;
    padding: 24px;
}

.degree-number {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.degree, .number {
    font-size: 24px;
}

.degree {
    color: $key-color;
    font-family: $primary;
    font-weight: 400;
}

.double-arrow {
    transform: scale(1.5);
    color: #656565;
}

.number {
    color: $number-color;
    font-family: $primary;
    font-weight: 400;
}