@use '../../_variables' as *;
@use '../../_typography' as *;


.selectable {
 background: transparent;
 width: min-content;
 padding: 24px;
}

.default-degree {
 border: 1px solid $degree-color;
 color: $degree-color;
}

.selected-degree, .default-degree:hover {
 border: 1px solid white;
 background-color: $degree-color;
 color: white;
}
.default-key {
 border: 1px solid $key-color;
 color: $key-color;
}

.selected-key, .default-key:hover {
 border: 1px solid white;
 background-color: $key-color;
 color: white;
}

.disabled {
   opacity: 0.5
}

:hover {
    cursor: pointer;
}