<p class="instruction">
    You have <span class="number">{{ count() }}</span> seconds to choose the <span class="degree">degree</span> that is associated to this <span class="key">key</span>
</p>
<div class="wrapper">
    <div class="degree-key">
        @let degree = randomDegree();
        @if(degree){
            <app-degree-key degree="?" [key]="degree[1]" />
        }
    </div>
    <div class="selectable">
        <app-selectable type="Degree" [options]="degrees()" (selectOption)="onSelectOption($event)" />
    </div>
    <p>
        Score: <span class="number">0</span> / 7
    </p>
</div>
